<!DOCTYPE html>
<html lang="es">
	<head>
			<title>404</title>
			<meta charset="utf-8"/>
			<link rel="stylesheet" href="/css/Pagina_inicial.css" media="screen"/>
			<link rel="preconnect" href="https://fonts.gstatic.com">
			<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	</head>
	
	<body>
        <%- include("header") %>
	</body>
</html>